{% extends 'base.html' %}
{% load qr_code %}
{% load static %}
{% block content %}
  <video id="video" style="height: 30rem; width: 40rem;" autoplay></video>

  {% csrf_token %}
  {% comment %} {% qr_from_text qr_code error_correction='m' size=12 version=10 %} {% endcomment %}

{% if user.is_authenticated %}
    <!-- If the user is authenticated, display the QR code -->
    <img src="{% qr_url_from_text qr_code image_format='png' error_correction='m' size=5 version=10 %}" alt="QR Code" />
{% else %}
    <!-- If the user is not authenticated, display a message to login -->
    <img src="#" alt="Login Required: Please login to access the QR code" />
{% endif %}

<img src="{% static "img/img-blank.png" %}" alt="">
{% endblock %}
{% block page_js %}
  <script type="module">
    import { BrowserQRCodeReader } from '@zxing/library'
    
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 900,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer
        toast.onmouseleave = Swal.resumeTimer
      }
    })
    
    const startQRCodeScan = async () => {
      try {
        const codeReader = new BrowserQRCodeReader()
        const result = await codeReader.getVideoInputDevices(undefined, 'video')
    
        if (result && result.length) {
          const scanResult = await codeReader.decodeFromInputVideoDevice(result[0].deviceId, 'video')
          const qrDataFromReader = scanResult.text
    
          const formData = new FormData()
          formData.append('qr_data', qrDataFromReader)
    
          const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
          formData.append('csrfmiddlewaretoken', csrfToken)
    
          const response = await fetch('/qr_codes/', {
            method: 'POST',
            body: formData
          })
    
          if (!response.ok) {
            throw new Error('Network response was not ok')
          }
    
          const data = await response.json()
    
          // Show response using SweetAlert toast
          Toast.fire({
            icon: data.type === 'success' ? 'success' : 'error',
            title: data.message
          })
    
          console.log(data)
        } else {
          throw new Error('No video input devices found.')
        }
      } catch (error) {
        console.error('Error:', error)
        // Show error toast using SweetAlert
        Toast.fire({
          icon: 'error',
          title: error.message || 'An error occurred. Please try again later.'
        })
      } finally {
        // Restart QR code scan after showing toast with a delay of 1000 milliseconds (1 second)
        setTimeout(startQRCodeScan, 1000)
      }
    }
    
    // Start QR code scan initially
    startQRCodeScan()
  </script>
{% endblock %}
