{% extends 'base.html' %}
{% block content %}
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quis, voluptatem, fuga assumenda corporis recusandae optio rerum laboriosam ab, error minima rem natus praesentium mollitia officiis maxime molestias quas qui.
{% endblock %}
{% block page_js %}
  <script type="module">
    import * as Library from '@zxing/library'
    
    // Write main module code here, or as a separate file with a "src" attribute on the module script.
    console.log(Library)
  </script>
{% endblock %}
